/* reset the browser defaults */
* {
	margin: 0;
	padding: 0;
}

/* center the logo, make it a block, and move it in vertical position */
#logo {
	width: auto;
	margin: auto;
	display: block;
	position: relative;
	top: 195px;
}

