/* reset the browser defaults */
* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
}

/* makes links act like on Google homepage */
a {
	font-family: arial, sans-serif;
	color: gray;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

/*Places the Gmail, Images, Sign In section in right location top right */
.header{
	position:relative;
	float: right;

	top: 15px;
	right: 40px;

	display: block;
}


/*move the middle block vertically down*/
.middle {
	position: relative;
	top: 180px;
	clear: both; /*need to clear otherwise image will center oddly*/
	padding-bottom: 3em; /*need to clear the footer which is absolute positioned so not in normal flow*/
}

/*places the footer right at the bottom, need absolute*/
.footer {
	position: absolute;
	bottom: 0;
	width: 100%; /*need this to stretch across entire screen*/
	height: 3em;
	background-color: #FBF9F9;
}

/*Makes those header links spaced out*/
.header a{
	font-size: 14px;
	display: inline-block;
	padding: 5px 5px;
}

/* center the logo, make it a block, and move it in vertical position */
#logo {
	width: auto;
	margin: auto;
	display: block;
}

/*size and center the search box*/
#search_box {
	font-size: 17px;
	height: 40px;
	width: 480px;
	padding-left: 20px;
	border: 1px solid rgb(222,222,222);
	margin: 30px auto;
	display: block;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

#search_box:hover {
	box-shadow: 1px 2px 5px rgba(0,0,0,0.2)
}
/* center the set of two Search and Lucky buttons*/
.buttons {
	text-align: center;
}

/*define the visuals of the buttons and that they are inline block*/
.buttons input[type="submit"] {
	-webkit-appearance: none;

	font-size: 13px;
	font-weight: bold;

	color: gray;
	background-color: #FBF9F9;

	width: auto;
	padding: 10px 18px;
	border: 1px solid #FBF9F9;
	border-radius: 2px;
	margin: 0 2px;
	display: inline-block;
}

.buttons input[type="submit"]:hover {
	color: black;
	border: 1px solid #C5C2C2;
}

/*makes the footer links spaced out*/
.footer a{
	font-size: 14px;
	display: inline-block;
	padding: 1em 8px; /*need the em padding to vertically center it in the footer div*/
}

.l_foot {
	position: relative; /*need this to leave the 10px space later*/
	float: left; /*left align*/
	left: 10px;
}

.r_foot {
	position: relative;
	float:right;
	right: 10px;
}

